<div class="wrapper">
    <div class="container">
        <div class="filter"></div>
    </div>
</div>

<div class="navigation-upper">
    <div class="page-navigation" 
        [(currentPage)]="currentPage" 
        (currentPageChange)="pageChange($event)"
        [pages]="numOfPages"
    ></div>
</div>

<app-videos-page-raw-content 
    [videos]="videos"
></app-videos-page-raw-content>

<div class="navigation-bottom">
    <div class="page-navigation" 
        [(currentPage)]="currentPage" 
        (currentPageChange)="pageChange($event)"
        [pages]="numOfPages"
    ></div>
</div>