<div class="wrapper">
    <div class="navigation">
        <div 
            class="btn"
            [routerLink]="['../']"
        >Beck</div>
    </div>
</div>

<div class="wrapper">

        <div *ngIf="collection;then title else noTitle"></div>

        <ng-template #title>
            <div class="info">

                <div class="title"> {{ collection.title }} </div>

                <div class="left-box">
                    <p class="row user">
                        <span class="label">owner: </span> 
                        <a class="user-name">{{ collection.owner }}</a>
                    </p>
                    <p class="row statistics">
                        <span class="label">in collection: </span>
                        <span class="number">{{ collection.videos.length }}</span>
                    </p>
                </div>
            
            </div>

            <div class="fade-line"></div>
        </ng-template>

        <ng-template #noTitle>
            <div class="no-found-msg">No such collection</div>
        </ng-template>

</div>



<app-videos-page-content 
    *ngIf="collection"
    [videos]="videos"
>
</app-videos-page-content>