html,body{
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-size: 18px;
    color: rgb(219, 219, 219);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8px;
}
