<div class="content-wrapper">
    
    <div class="panels">

        <app-home-search-filter *ngIf="searchOn"></app-home-search-filter>

        <div class="navigation-panel">
                <div class="page-navigation" 
                    [padding]="300" 
                    [currentPage]="currentPage"
                    (pageChange)="pageChange($event)"
                    [pages]="numOfPages"
                ></div>

                <div class="quick-info">Lastly Added</div>
                <div 
                    class="search-btn"
                    [class.active]="searchOn" 
                    (click)="searchBtnToggle()"
                    >Search
                </div>
                <div class="search-btn-small"
                    [class.active]="searchOn"
                    (click)="searchBtnToggle()"
                >
                </div>
        </div>

    </div>

    <div class="content-container">
        <p *ngIf="items.length == 0" class="no-found">No found.</p>

        <app-home-media-item 
            *ngFor="let item of items" 
            [item]="item"
            (clickedOnFormat)="searchByFormat($event)"
        ></app-home-media-item>
    </div>
</div>
